# Virtual Environment
venv/
.venv/
env/

# Python cache
__pycache__/
*.py[cod]
*.cpython-*.pyc
*.pyo
*.pyd

# Database
db.sqlite3
db.sqlite3.bak*

# Environment variables
.env

# VS Code
.vscode/

# Build
build/
dist/
*.egg-info/